flasgger==0.9.4
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.3
urllib3==1.25.7
Werkzeug==0.16.0
xlrd==1.2.0
uwsgi==2.0.14
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.8.0
numpy==1.16.5
pandas==0.25.1
elasticsearch==7.1.0