{% extends "base.html" %}
{% block content %}


<style>
    .search-container {
        background-color: #FFF;
        position: relative;
        border-radius: 30px;
        padding: 3px 50px 3px 10px;
    }
    .search-box {
        background-color: transparent;
        outline: none;
        height: 35px;
        font-size: 15px;
        border: 0;
        width: 100%;
    }
    .search-button {
        position: absolute;
        right: 4px;
        top: 4px;
        background-color: #C00;
        border-radius: 50%;
        border: 0;
        color: #FFF;
        width: 35px;
        height: 35px;
        outline: 0;
    }

    .jumbotron{
        background-image: url("https://cdn.shopify.com/s/files/1/0898/4708/articles/Black_Friday_Header_FA.jpg?v=1572010345");
        background-size: cover;
    }

</style>

<div style="height:auto;" class="jumbotron">

            <div class="search-container">
                    <input style="height: 50px;" name="search"  class="search-box" placeholder="Enter Product Name" id="source" />
                    <div id="result"></div>
                    <a onclick="btn_submit()" style="text-align: center; height: 60px; width: 60px;top: -0.1em;right: 0px;color: wheat;padding: 15px;background: #red;" class="search-button">Go</a>
            </div>


    <div class="row" style="margin-top: 30px;">
        {%  raw  %}
                    <div  id="product-data" style="justify-content: center; padding-top: 50px;"></div>

                    <script id="product-template" type="text/x-handlebars-template">
                            <div class="wrapper" style="display: flex; width: 100%;flex-wrap: wrap;padding-left: 100px; justify-content: center;">
                                    {{#each this  }}
                                            <div class="p-3 col-3 col-sm-8 col-md-6 col-lg-4">
                                  <div class="card">
                                      <img class="card-img" src="{{this._source.imageURLs.[0]}}" alt="Vans">
                                      <div class="card-img-overlay d-flex justify-content-end">
                                          <a href="#" class="card-link text-danger like">
                                              <i class="fas fa-heart"></i>
                                          </a>
                                      </div>
                                      <div class="card-body">
                                          <h4 class="card-title">{{this._source.name}}</h4>
                                          <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                                          <p class="card-text">
                                              {{this._source.categories}}
                                          <div class="options d-flex flex-fill">
                                              <select class="custom-select mr-1">
                                                  <option selected>Color</option>
                                                  <option value="1">Green</option>
                                                  <option value="2">Blue</option>
                                                  <option value="3">Red</option>
                                              </select>
                                              <select class="custom-select ml-1">
                                                  <option selected>Size</option>
                                                  <option value="1">41</option>
                                                  <option value="2">42</option>
                                                  <option value="3">43</option>
                                              </select>
                                          </div>
                                          <div class="buy d-flex justify-content-between align-items-center">
                                              <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                                              <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                    {{/each}}
                                </div>
                     </script>
        {%  endraw    %}
    </div>
    <br/> <br/>
    <div class="row" style="margin-top: 30px;">
        {%  raw  %}
        <div id="product-similar-data" style="justify-content: center; padding-top: 50px;"></div>
        <script id="product-similar-template" type="text/x-handlebars-template">

            <h1 style="color: wheat; text-align: center;justify-content: center;display: flex;">Similar Product you Might like </h1>
            <br/>
            <br/>

            <div class="wrapper" style="display: flex; width: 100%;flex-wrap: wrap;padding-left: 100px; justify-content: center;">
                {{#each this  }}
                        <<div class="p-3 col-3 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="{{this._source.imageURLs.[0]}}" alt="Vans">
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a href="#" class="card-link text-danger like">
                            <i class="fas fa-heart"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{this._source.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
                        <p class="card-text">
                            {{this._source.categories}}
                        <div class="options d-flex flex-fill">
                            <select class="custom-select mr-1">
                                <option selected>Color</option>
                                <option value="1">Green</option>
                                <option value="2">Blue</option>
                                <option value="3">Red</option>
                            </select>
                            <select class="custom-select ml-1">
                                <option selected>Size</option>
                                <option value="1">41</option>
                                <option value="2">42</option>
                                <option value="3">43</option>
                            </select>
                        </div>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                            <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
                {{/each}}
            </div>

        </script>
        {%  endraw    %}
    </div>
    <br/> <br/> <br/> <br/>

</div>


<script>

    const $source = document.querySelector('#source');
    const $result = document.querySelector('#result');

    const typeHandler = function(e) {
        $result.innerHTML = e.target.value;
        $.ajax({
            url: "/pipe",
            type : 'POST',
            cache: false,
            data:{'data': e.target.value},
            success: function(html)
            {
                var data = html.aggregations.auto_complete.buckets
                var _ = []
                $.each(data, (index, value)=>{
                    _.push(value.key)
                });
                $( "#source" ).autocomplete({
                    source: _
                });
            }
        });
    }

    $source.addEventListener('input', typeHandler) // register for oninput
    $source.addEventListener('propertychange', typeHandler) // for IE8

    function btn_submit()
    {
        sessionStorage.setItem('title', $("#source").val() );
        var search_val = $("#source").val()

        $.ajax({
            url: "/search",
            type : 'POST',
            cache: false,
            data:{
                'what': search_val
            },
            success: function(data)
            {
                // Product you searched for
                var templateScript = Handlebars.compile($('#product-template').html());
                $('#product-data').html(templateScript(data.result.hits.hits));


                var templateScript = Handlebars.compile($('#product-similar-template').html());
                $('#product-similar-data').html(templateScript(data.similar.hits.hits));

            }
        });
    }


    $( document ).ready(function() {
        var data = sessionStorage.getItem('title')
        $("#source").val(data);
    });

    Handlebars.registerHelper('facets_round_numbers', function (data) {
        if (!data) return '';
        var value = parseInt(data);
        var ret = value;

        if (value > 10000) ret = (Math.round(value / 1000) * 1000);
        if (value > 1000) ret = (Math.round(value / 100) * 100);
        else if (value > 10) ret = (Math.round(value / 10) * 10);

        var tem = null;

        if (ret <= 10)
        {
            tem = '1-9'
        };

        if (ret >= 11 && ret <= 99)
        {
            tem = '10-99'
        }

        if (ret >= 100 && ret <= 500)
        {
            tem = '100-499'
        }
        if (ret >= 500)
        {
            tem = '500+'
        }
        return tem;
    });

    Handlebars.registerHelper('int_format', function (data) {
        if (!data) return '';
        return parseInt(data);
    });

    Handlebars.registerHelper('if_cond', function (v1, operator, v2, options) {

        switch (operator) {
            case '==':
                return (v1 == v2) ? options.fn(this) : options.inverse(this);
            case '===':
                return (v1 === v2) ? options.fn(this) : options.inverse(this);
            case '!=':
                return (v1 != v2) ? options.fn(this) : options.inverse(this);
            case '!==':
                return (v1 !== v2) ? options.fn(this) : options.inverse(this);
            case '<':
                return (v1 < v2) ? options.fn(this) : options.inverse(this);
            case '<=':
                return (v1 <= v2) ? options.fn(this) : options.inverse(this);
            case '>':
                return (v1 > v2) ? options.fn(this) : options.inverse(this);
            case '>=':
                return (v1 >= v2) ? options.fn(this) : options.inverse(this);
            case '&&':
                return (v1 && v2) ? options.fn(this) : options.inverse(this);
            case '||':
                return (v1 || v2) ? options.fn(this) : options.inverse(this);
            default:
                return options.inverse(this);
        }
    });

    Handlebars.registerHelper('if_eq', function (a, b, opts) {
        if (a == b)
            return opts.fn(this);
        else
            return opts.inverse(this);
    });


</script>
{% endblock %}

